@keyframes slide_down {
	0% {
		top: -60%;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}


@keyframes slide_down_disp {
		0% {
		top: -4rem;
		opacity: .2;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}