.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  height:5rem;
  border: none;
  outline: none;
  padding: 0 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Tirong;
  cursor: pointer;
  transition: background var(--base-duration) var(--base-ease);
}

.btn-secondary{
  background: linear-gradient(to right, rgb(50, 47, 36,1),rgb(122, 121, 97, .85));
  color: var(--light-color);
}

.btn-primary{
  background: linear-gradient(to right, rgba(255, 243, 232, .25),rgba(255, 243, 232, .65));
   color: var(--light-color);
   transition: all .2s ease;
}


.close-cart-btn{
   min-width: 25rem;
}

.btn-primary:hover{
   background: linear-gradient(to right, rgba(255, 243, 232, .65),rgba(255, 243, 232, .25));
}


.btn-secondary:hover, 
.btn-secondary:active,
.btn-secondary.active{
  background: linear-gradient(to right, rgb(122, 121, 97, .85),rgb(50, 47, 36,1));
}

.btn-outline{
  background:transparent;
  border: 1px solid var(--primary-light-color);
  color: var(--primary-light-color);
}