.catalog-section {
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(
			rgba(50, 47, 36, 0.96),
			rgba(50, 47, 36, 0.96)
		),
		url("../assets/images/catalogue-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.calalog-content {
	width: 100%;
	height: auto;
	padding: 5rem 0;
	padding-top: 2rem;
	position: relative;
}


