

.primary-heading{
    font-family: Tirong;
  font-size: 3.5rem;
  font-weight: 300;
  color: var(--light-color);
}

.secondary-heading{
font-family: Tirong;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--light-color);
}

.pg-heading{
  margin-bottom: 4rem;
  text-align: center;
}

.lead{
    font-family: Tirong;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-light-color);
}

.form-text{
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--light-color);
  margin-bottom: 1rem;
}


@media only screen and (max-width: 62.5rem) {
.primary-heading{

  font-size: 3rem;
}

.lead{

  font-size: 1.3rem;

}
}


@media only screen and (max-width: 31.25rem){
.secondary-heading{
    font-size: 2rem;
}
}