.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  height:5rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Tirong;
  cursor: pointer;
}

.btn-secondary{
  background: var(--primary-light-color);
  color: var(--light-color);
}

.btn-primary{
  background: linear-gradient(to right, rgba(50, 47, 36, 0.7),rgba(122, 121, 97, .3));
   color: var(--light-color);
   transition: all .2s ease;
}

.btn-primary:hover{
  background: linear-gradient(to right,rgba(122, 121, 97, .3), rgba(50, 47, 36, 0.7));
}

.btn-outline{
  background:transparent;
  border: 1px solid var(--primary-light-color);
  color: var(--primary-light-color);
}