.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  height:5rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Tirong;
  cursor: pointer;
}

.btn-primary{
  background: var(--primary-light-color);
  color: var(--light-color);

}

.btn-secondary{
  background:transparent;
  border: 1px solid var(--primary-light-color);
  color: var(--primary-light-color);
}