.contact-form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form>*:not(:last-child){
  margin-bottom: 1.5rem;
}

.text-input{
  padding: 1.5rem;
  outline: none;
  border: none;
  background: rgba(255, 243, 232, .2);
  color: var(--primary-dark-color);
  font-size: 1.4rem;
}

.text-input.light{
   color: rgba(255, 243, 232, .6);
}

.text-input::placeholder{
  color: var(--primary-dark-color);
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 400;
}

.text-input.light::placeholder{
   color: rgba(255, 243, 232, .6);
   font-weight: 250;
}

.form-group{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-top: 1rem;
}

.form-control{
  display: flex;
  align-items:center;
}

.tc-text{
  color: rgba(255, 243, 232, .5);
  font-size: 1.3rem;
  font-weight: 300;
}

.cheky-box{
   height: 1.5rem;
   width: 1.5rem;
   border: 1px solid var(--light-color);
   border: 1px solid rgba(255, 243, 232, .5);
   display: block;
   margin-right: 1.5rem;
   position: relative;
}

.cheky-box::before,
.cheky-box::after{
  position: absolute;
  content: '';
  display: block;
  height: 2px;
 
  transform-origin: center;
}

.cheky-box::before{
top: 60%;
left:1px;
 width: .5rem;
transform:translateY(-50%) rotate(48deg);
}

.cheky-box::after{
  top: 50%;
  right:0 ;
  width: 1rem;
transform:translateY(-50%) rotate(-45deg);
}

.cheky-box:hover{
  background: rgba(255, 243, 232, .2);
}

.form-checky:checked ~ .cheky-box{
  background: rgba(255, 243, 232, .2);
}

.form-checky:checked ~ .cheky-box:before{
  background: var(--primary-dark-color);
}
.form-checky:checked ~ .cheky-box:after{
  background: var(--primary-dark-color);
}

.form-checky{
  height: 0;
  width: 0;
  display: none;
}

.check-text{
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--light-color);
  text-transform: uppercase;
  line-height: 0;

  margin-left: 1rem;
}

.input-radio{
  height:0 ;
  width: 0;
  display: block;
}

.radio-label{
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--light-color);
  position: relative;
}

.radio-label::before{
  display: none;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:0.75rem;
  width:0.75rem;
  background: var(--light-color);
}

.input-radio:checked ~ .radio-label::before{
  display: block;
}

/* .input-radio:required ~ .radio-label{
  border: 1px solid rgb(247, 161, 161);
} */

.req{
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(247, 161, 161);
}

.radio-box{
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

@media only screen and (max-width: 75rem) {
.radio-box{
  margin-right: 3rem;
}
}

@media only screen and (max-width:37.5rem) {
  .order-form>*:last-child{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
.coupon-input{
  width: 100%;
  margin-bottom: 2rem;
}

}

@media only screen and (max-width: 21rem){
  .tc-text{
  font-size: 1.1rem;
}

.cheky-box{
  margin-right: 1rem;
}

.radio-box{
  margin-right: 1rem;
}

.check-text{
  font-size: 1.1rem;

}

}

