

.primary-heading{
    font-family: Tirong;
  font-size: 3.5rem;
  font-weight: 300;
  color: var(--light-color);
}

.lead{
    font-family: Tirong;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-light-color);
}