:root {
	--primary-dark-color: #322f24;
	--primary-light-color: #7a7961;
	--light-color: #fff3e8;
}
/* --largest-bp: 75em;  1200px */
/* --large-bp: 64em;   1024px */
/* --medium-bp: 48em;   768px */
/* --small-bp: 30em;   480px */
/* --smallest-bp: 20em;  320px */